<%- include('./partials/header') %>

<div class="container">
        
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
        <h1 class="display-4">Learn about your favorite movie by typing its title</h1>
        <p class="lead">Discover all behind the scenes, techical, and crew information!</p>

        <form class="form-inline" action="/search" method="GET">
            <div class="form-group">
            <input class="form-control form-control-lg" type="text" placeholder="Movie Title" name="movieTitle" required>
            <button type="submit" class="btn btn-primary mb-2 btn-lg submitBtn">Search</button>
            </div>
        </form>

        </div>
    </div>
    <div class="container">
    <div class="card center" style="width: 50%;">

        <% if(movieInfo.length > 0 ) {%>
            <% for(let movie of movieInfo){ %>
                    
                    <!-- <h1>Title: <%= movie.title %></h1>
                    <h2>Year: <%= movie.year %></h2>
                    <h2>Released on : <%= movie.released %></h2>
                    <h2>Runtime :<%= movie.runtime %></h2>
                    <h1>Director: <%= movie.director %></h1>
                    <h2>Actors : <%= movie.actors %></h2>
                    <h2>language : <%= movie.language %></h2>
                    <h2>Country : <%= movie.country %></h2>
                    <h2>Box Office : <%= movie.boxOffice %></h2>
                    <h2>Genre : <%= movie.genre %></h2>
                    <h2>Screenplay : <%= movie.write %></h2>
               
                    <img src="<%= movie.poster %>" alt="<%=movie.title%>"> -->
                    
                    <img class="card-img-top" src="<%= movie.poster %>" alt="<%=movie.title%>">
                    <div class="card-body">
                    <h5 class="card-title">Title: <%= movie.title %></h5>
                    <!-- <p class="card-text">Actors : <%= movie.actors %></p> -->
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">Year: <%= movie.year %></li>
                    <li class="list-group-item">Released on : <%= movie.released %></li>
                    <li class="list-group-item">Runtime :<%= movie.runtime %></li>
                    <li class="list-group-item"><strong>Director: <%= movie.director %></strong></li>
                    <li class="list-group-item">Actors : <%= movie.actors %></li>
                    <li class="list-group-item">language : <%= movie.language %></li>
                    <li class="list-group-item">Country : <%= movie.country %></li>
                    <li class="list-group-item">Box Office : <%= movie.boxOffice %></li>
                    <li class="list-group-item">Genre : <%= movie.genre %></li>
                    <li class="list-group-item">Screenplay : <%= movie.write %></li>
                    
                    </ul>
                    
                
              

            <%}%>
                


        <%} else {%>
            <h1>info not found</h1>
        <%}%>
    </div>

    </div>
    


       
        

     
            
 </div>




      <%- include('./partials/footer') %>